*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
/.idea/codeStyles
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.smartfox_info.xml
/.vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/smartfox_info.xml
.idea/vcs.xml
app/libs/
