*.iml
.gradle
/local.properties
/.idea
/.idea/dictionaries
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.smartfox_info.xml
/.vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/smartfox_info.xml
app/libs/
http/libs/
http/src/main/java/com/dimples/http/base/
http/src/main/res/drawable/
mvp/libs/
mvp/src/main/res/drawable/
task/libs/
task/src/main/res/drawable/
